@import url('https://fonts.googleapis.com/css?family=Acme');
@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One');
.title {
  font-size: 50px;
  text-align: center;
  color: purple;
  font-family: 'Acme', sans-serif;
}
.buttonImage {
  width: 300px;
  height: 250px;
}
.buttonText{
  font-size: 50px;
  text-align: center;
  font-family: 'Pathway Gothic One', sans-serif;
}
.buttonFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
/* .beer {
  width: 300px;
  height: 400px;
} */